a {
  font-weight:bold;
  color:#5588EE;
}

body {
  font-family:Arial;
  font-size:12px;
}

.shinytable * tr td {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070; /*#AAAAAA on the light gray, #AAAAAA on the colored*/
}

.shinytable {
  border-spacing:0px;
  text-align:center;
  border-left:1px solid #707070;
  border-top:1px solid #707070;
  table-layout:fixed;
}

#bigtable tbody tr td {
width:49px;
height:1.75em;
}

thead {
  font-weight:bold;
  background:#EEEEEE;
}

tfoot {
  text-align:left;
}

thead tr td {
  padding-top:4px;
  padding-bottom:4px;
  padding-left:7px;
  padding-right:7px;
}

#matchpredictions tr td {
padding-left:7px;
padding-right:7px;
}

input.mini {
width:50px;
outline:none;
text-align:center;
height:35px;
border:1px solid #AAAAAA;
border-radius:3px;
}

input.mini:focus {
border:1px solid #AAAAFF;
}

#redallianceprediction:focus, #predictionred1:focus, #predictionred2:focus, #predictionred3:focus {
border:1px solid #FFAAAA;
}

input.mini[readonly] {
background:#EEEEEE;
}

div.hr {
height:1px;
width:80%;
margin-left:auto;
margin-right:auto;
background:#DDDDDD;
border-left:20px solid #F5F5F5;
border-right:20px solid #F5F5F5;
}

#predictedresult {
  padding:4px;
}